body {
    display: grid;
    grid-template-columns: 90% 90%;
    grid-template-rows: 25% 90% 25% 25%;
}

.our-grid-item{
    grid-column: 1/2;
    grid-row: 1/2;
}
header {
    grid-area: header;
    background: green;
}
main {
        grid-area: main;
        min-height: calc (100vh - 54px );
     background-attachment: green;
     color: #ff0000;
     font-size: 30px;
  }
.calc {
    grid-area: aside;
  }

  #calc-contain{
    position: relative;
    width: 325px;
    border: 2px solid black;
    border-radius: 12px;
    margin: 0px auto;
    padding: 20px 20px 100px 20px;
  }
  #agh{
    position: relative;
    float: right;
    margin-top: 15px;
  }
  #agh p{
    font-size: 20px;
    font-weight: 900;
  }
  input[type=button] {
    background: yellow;
    width: 20%;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
    margin-left: 13px;
    margin-top: 10px;
  }
  input[type=button]:active {
    background-color: pink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  input[type=button]:hover {
    background-color: blue;
    color: white;
  }
  
  input[type = text] {
    position: relative;
    display: block;
    width: 90%;
    margin: 5px auto;
    font-size: 20px;
    padding: 10px;
    box-shadow: 4px 0px 12px black inset;
  }
  .clock {
      grid-area: aside;}
          @font-face {
        
            font-family: 'Digital-7';
            src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.eot?#iefix') format('embedded-opentype'),  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.ttf')  format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.svg#Digital-7') format('svg');font-weight: normal;font-style: normal;}
          ::selection{background:green;}::-moz-selection{background:#111;}
          *,html{margin:0;}
          body{background:#333}
          figure{width:210px;height:210px;position:absolute;top:50%;left:50%;margin-top:-105px;margin-left:-105px;transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-webkit-transform: rotateX(-35deg) rotateY(45deg);transform: rotateX(-35deg) rotateY(45deg);transition:2s;}
          figure:hover{-webkit-transform:rotateX(-50deg) rotateY(45deg);transform:rotateX(-50deg) rotateY(45deg);}
          .face{width:100%;height:100%;position:absolute;-webkit-transform-origin: center;transform-origin: center;background:#000;text-align:center;}
          p{font-size:180px;font-family: 'Digital-7';margin-top:20px;color:#2982FF;text-shadow:0px 0px 5px #000;-webkit-animation:color 10s infinite;animation:color 10s infinite;line-height:180px;}
          .front{-webkit-transform: translate3d(0, 0, 105px);transform: translate3d(0, 0, 105px);background:#111;}
          .left{-webkit-transform: rotateY(-90deg) translate3d(0, 0, 105px);transform: rotateY(-90deg) translate3d(0, 0, 105px);background:#151515;}
          .top{-webkit-transform: rotateX(90deg) translate3d(0, 0, 105px);transform: rotateX(90deg) translate3d(0, 0, 105px);background:#222;}
          
            @keyframes color{
              0%{color:#2982ff;text-shadow:0px 0px 5px #000;}
              50%{color:#cc4343;text-shadow:0px 0px 5px #ff0000;}
            }
            @-webkit-keyframes color{
              0%{color:#2982ff;text-shadow:0px 0px 5px #000;}
              50%{color:#cc4343;text-shadow:0px 0px 5px #ff0000;}
          }
          
footer {
    grid-area: footer;
    text-decoration-color: #cc4343;
    .nav ul {
        grid-area: nav;
    }
  }
  .figure {
      grid-area; aside;
  }

  @media (min-width: 700px) {
    .container {
      display: grid;
      grid-template-columns: 4fr 1fr; 
      grid-template-areas: 
      "header  aside"
      "main    aside";
    }
    @media (max-width: 350px){
        .container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-areas: 
            "header   main"
            "aside   aside"
        }

    }