.inline-info{
    width: 40%;
    display: inline-block;
}
.contact .inline-info ul{
list-style: none;
}
.list-col{
    display: inline-block;
}
.list-col div{
    height: 100px;
}
.list-col div ul{
   margin: 0;
   padding: 0;
}
.col-left{
    width: 20%;
}
.col-right{
    width: 75%;
}
h3,h4{
text-transform: capitalize
}